
<div class="container">
  <div class="">
    <div>
      <h1>
        Melden Sie ihr KFZ hier an
      </h1>
      <form>
        <p>
          Laden Sie einen Scan Ihres Fahrzeugbriefs hoch
        </p>
        <input label="perso" type=file accept="image/*">
        <p>
          Zu welchen Datum wollen Sie ihr Fahrzeug anmelden?
        </p>
        <input label="zulassungsdatum" type=date>
        <input type="submit" value="Antrag abschicken" />
      </form>
    </div>
  </div>
</div>