<div class="well">
  <h2>
    <%= _("Imprint") %>
  </h2>

  <div class="form-group text-large">
      <p>Send any complaints or questions to <a href="mailto:admin@dfherr.com">admin@dfherr.com</a></p>
  </div>
  <div class="form-group">
      <p>External Sources: Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect">Pixel Perfect</a> from www.flaticon.com</p>
  </div>
</div>
