<div>
  <h1>
    Willkommen bei CarChain
  </h1>
  <p id="blue">
    Auf dieser Seite ist es dir möglich schnell, sicher und unkompliziert Anträge zur An-, Ab- und Ummeldung deiner KFZ zu stellen.
  </p>
</div>
